.container, .viewcontent, .reccomend > div{
    display: flex;
}

.left{
    position: absolute;
    left: 4vh;
    top: 4vh;
}
.right{
    position: absolute;
    right: 4vh;
    top: 6vh;
}
.right .viewcontent > div {
    background-color: #C3C3C3;
    padding: 2vh;
    margin: 0.5vh;
    border-radius: 1.4vh;
    border: 0.2vh solid;
}
.right .viewcontent > div:hover {
    background-color: #fff  ;
}
.right .reccomend .label > img{
    padding: 0vh 3vh;
}
.right .confirmbtn{
    position: absolute;
    right: 0vh;
    bottom: -66vh;
}
.right .confirmbtn .button{
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: blue;
    color: white;
}

.suitlog > div{
    margin: 2vh 0vh;
}
.suitlog .addoption{
    background-color: #C3C3C3;
    display: flex;
    flex-direction: column;
    padding: 0vh 0.6vh;
    border-radius: 0.5vh;
}
.suitlog .addoption > div{
    display: flex;
    justify-content: space-between;
    padding: 0.6vh;
}
.suitlog .addoption .confirm > input{
    width: 50%;
}
.suitlog .addoption .confirm .savebtn{
    background-color: blue;
    color: white;
    padding: 0.4vh;
    border-radius: 0.5vh;
}
.suitlog .collection .selectedcollect{
    display: flex;
    justify-content: space-between;
    background-color: #C3C3C3;
    padding: 1vh;
    border-radius: 0.5vh;
}