
.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.option{
    display: flex;
    justify-content: center;
}
.option .optioninput .title{
    display: flex;
    justify-content: space-between;
}
.option .optioninput .input{
    display: flex;
    justify-content: space-around;
}
.option > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 23vh;
    height: 6vh;
    background-color: #c3c3c3;
    margin: 0.5vh 1vh;
    border-radius: 0.5vh;
}

.navbar{
    display: flex;
}
.navbar > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0vh 1vh;
    border-radius: 1vh;
    width: 12vh;
    height: 10vh;
    background-color: #c3c3c3;
    border: 0.2vh solid;
}
.navbar > div:hover{
    border: 0.4vh solid;
}

.reccomend{
    display: flex;
    position: absolute;
    top: 10vh;
    right: 4vh;
}
.reccomend > img{
    margin-right: 1vh;
}

.confirm{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1vh;
    right: 4vh;
}
.confirm .button{
    background-color: blue;
    color: white;
    padding: 1vh;
    border-radius: 0.5vh;
}